<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  
  <form method='post' action='/team'>
    <label>Team Name:</label>
    <input type='text' name='name'>
  </form>
 </head>
 <body>
 </body>
</html>


